body{
    font-family: 'DM Sans', sans-serif;
}

.submit-btn{
    color: #ffffff;
    background-color: #5a29e4;
    box-shadow: rgba(91, 41, 228, 0.365) 0 10px 30px 0;
    border-radius: 10px;
    width: 200px;
    height: 55px;
    border: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
}

.user-from{
    display: flex;
    flex-direction: column;
}

.user-from label{
    margin-bottom: 25px;
}